body{
    background-color: black;
}
#title{
    background-image: url("sailboat-823176_1280.jpg");
    border: solid whitesmoke 10px;
    width: 1170px;
    height: 200px;
    color: whitesmoke;
    text-align: center;
    font-size: 60px;
    margin: 25px;
} 
#title h1 {
    position: relative;
    bottom: 50px;
}   
#image {
    background-image: url("prestige_worldwide.jpg");
    background-repeat: no-repeat;
    border: solid whitesmoke 10px;
    color: whitesmoke;
    font-size: 32px;
    height: 160px;
    width: 310px;
    text-align: right;
    position: relative;
    margin: 25px;
}
#image h3 {
    position: relative;
    bottom: 40px;
    padding: 5px;
}
#links{
    background-position: center;
    background-image: url("fish.jpg");
    border: solid whitesmoke 10px;
    color: whitesmoke;
    font-size: 32px;
    height: 160px;
    width: 310px;
    text-align: left;
    position: relative;
    margin: 25px;
}
#link1{
    position: relative;
    bottom: 30px;
    font-style: oblique;
    padding: 5px;
}
ul{
    position: relative;
    bottom: 65px;
}
a {
    color: whitesmoke;
}
#middle{
    background-image: url("golf.jpg");
    margin:25px;
    border: solid whitesmoke 10px;
    color: black;
    position: relative;
    width: 460px;
    height: 355px;
    left: 355px;
    bottom: 410px;
    padding: 5px;
}
#iframe{
    border: solid whitesmoke 10px;
    color: whitesmoke;
    font-size: 32px;
    height: 160px;
    width: 310px;
    text-align: left;
    position: relative;
    margin: 25px;
    bottom: 820px;
    left:860px;
}
#button1{
    border: solid whitesmoke 10px;
    color: whitesmoke;
    font-size: 32px;
    height: 160px;
    width: 310px;
    text-align: left;
    position: relative;
    margin: 25px;
    bottom: 820px;
    left:860px;
}
#events{
    color:whitesmoke;
    position: relative;
    top: 60px;
    font-size: 30px;
}
.button {
    background-image: url("button.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    position: relative;
    bottom: 1010px;
    left: 975px;
    cursor: pointer;
    opacity: 0.6;
  transition: 0.3s;
}
.button:hover{opacity: 1}

footer{
    background-image: url("sailboat-823176_1280.jpg");
    background-position-y: bottom;
    border: solid whitesmoke 10px;
    color: black;
    text-align: center;
    font-size: 50px;
    font: bolder;
    position: relative;
    bottom: 1000px;
    margin: 25px;
    width: 1170px;
    height: 200px;
}
.left{
    color: whitesmoke;
    text-align: left;
    opacity: 0.375;
    background-color: black;
    height: 67%;
    width: 67%;
    position: absolute;
    bottom: 0px;
    
}
.center{
    color:whitesmoke;
    text-align: center;
    opacity: 0.375;
    height: 33%;
    width: 100%;
    background-color: black;
    position: absolute;
    top: 67%;
    
}
.right{
    color: whitesmoke;
    text-align: right;
    right:0px;
    bottom:0px;
    opacity: 0.375;
    background-color: black;
    height: 67%;
    width: 67%;
    position: absolute;
}
.author{
    position: absolute;
    bottom: 0px;
    top: 25px;
}
.need{
    position: absolute;
    bottom: 0px;
    top: 25px;
    right: 0px;
}
.copy{
    text-align: center;
    position: relative;
    bottom: 175px;
}